// colors.scss

$primary-L-orange: #C2664E;
$primary-L-green: #30A47A;
$primary-L-dark-green: #113A29;
$primary-M-red: #F55555;
$primary-M-orange: #FFBF52;
$outlined-fill: #FFFFFF;
$outlined-fill-hover: #DCF5EE;
$outlined-border: #113A29;